# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LogClass/.vs/LogClass/FileContentIndex/7ee6bda5-33f2-4b38-a6ed-17f8bfdedc74.vsidx
*.vsidx
LogClass/.vs/LogClass/v17/Browse.VC.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
LogClass/LogClass.sln
